* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
    background-color: #f4f4f9;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    margin-bottom: 200px;

}
.login-box {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 300px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    font-size: 24px;
}

label {
    display: block;
    text-align: left;
    margin: 10px 0 5px;
}
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.password-box {
    position: relative;
}

.show-password {
    position: absolute;
    top: 8px;
    right: 8px;
    cursor: pointer;
}
button[type="submit"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 4px;
    font-size: 16px;
}
button[type="submit"] {
    background-color: #4CAF50;
    color: white;
}

.forgot-password {
    display: block;
    text-align: right;
    font-size: 12px;
    margin-bottom: 10px;
}

.or-divider {
    display: flex;
    align-items: center;
    margin: 10px 0;
}
.or-divider span {
    flex: 1;
    border-bottom: 1px solid #ccc;
    margin: 0 10px;
}

/* footer {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
}

.footer-logo {
    font-size: 18px;
}

footer a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
}

footer a:hover {
    text-decoration: underline;
}
 */
